<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.rainbowcat.mapper.ArticleMapper">
    <insert id="addArticle" parameterType="top.rainbowcat.entity.Article">
        insert into article (title, summary, content, user_id, plate_id, created)
        values (#{title}, #{summary}, #{content}, #{userId}, #{plateId}, #{created});
    </insert>
    <update id="addViews" parameterType="int">
        update article set now_view = now_view+1  WHERE (id = #{id});
    </update>

    <!--查询热门文章，用于首页文章列表初始化-->
    <select id="getHotArticle" resultType="top.rainbowcat.entity.Article">
--         select * from article where (now_view - yes_view) > 5 limit 0, 10;
        select * from article limit 0, 10;
    </select>

    <select id="getLikesByArticleId" parameterType="int" resultType="int">
        select count(l.id) from article a
        left join likes l on a.id=l.article_id
        where a.id=#{id};
    </select>
    <select id="getDetailById" parameterType="int" resultType="top.rainbowcat.entity.Article">
        select * from article where id = #{id}
    </select>
</mapper>
